<% if user_signed_in? %>
  <h1>Hello World</h1>
<% else %>
  <div class="jumbotron d-flex align-items-center min-vh-100">
    <span class="container text-center">
      <h1>You have to Sign in to be able to use Friends app</h1>
    </span>
  </div>
<% end %>